*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F9F9F9;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.header img{
    cursor: pointer;
}

.nav{
    display: flex;
    gap: 55px;
    margin-left: 180px;

}

.nav a{
    font-weight: 700;
    font-size: 14px;
    color: #262626;
    padding: 10px;
}

/* header */

/* main */

/* first section */

.first-section-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(/assets/first-section-img.png);
    background-repeat: no-repeat;
    max-width: 1272px;
    height: 559px;
    padding: 218px 588px 141px 57px;
    border-radius: 20px;
    margin-bottom: 73px;
}

.first-section-content h6{
    font-weight: 700;
    font-size: 12px;
    color: white;
}

.first-section-content h1{
    font-weight: 400;
    font-size: 46px;
    color: white;
}

.first-section-content span{
    font-weight: 700;
    font-size: 46px;
    background: linear-gradient(to right, #5DF2D6, #5D9CF2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-section-content p{
    font-weight: 400;
    font-size: 20px;
    color: white;
    max-width: 494px;
}

/* first section */

/* second section */

.second-section-content h2{
    color: #262626;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 48px;
}

.cards{
    display: flex;
    gap: 10px;
    margin-bottom: 87px;
    
}

.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 204px;
    padding: 51px 58px 39px 58px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    gap: 25px;
    transition: 0.3s ease-in-out;
}

.card:hover{
    transform:scale(1.06);
}

.card img{
    max-width: 83px;
}

.card p{
    font-weight: 700;
    font-size: 20px;
    text-wrap-mode: nowrap;
}

.card p:hover{
    cursor: default;
}

.card a{
    font-weight: 700;
    font-size: 12px;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: #4CE0D7;
    width: max-content;
    color: #262626;
}

.second-section-content hr{
    border: 1px solid #bcbcbc78;
    margin-bottom: 52px;
}

/* second section */

/* main */

/* footer */

/* footer */